<h1>Animals</h1>

<ul>
    {{#each animals}}
    <li>Animal Type: {{animalType}}</li>
    <li>Is this animal a pet? {{pet}}</li>
    <li>Fierceness Level: {{fierceness}}</li>
    <hr>
    {{/each}}
</ul>